<div class="cart">
  <div class="cart-header">
    <div class="cart-header-wrapper">
      <h2 class="cart-header-main">My Cart</h2>
      <div class="pagination-count-wrapper">
        <div class="pagination-visible">
          <p class="pagination-visible--active">3</p>
          <div class="pagination-arrow"></div>
        </div>
        <div class="pagination-invisible">
          <p class="pagination-inactive">3</p>
          <p class="pagination-inactive">4</p>
          <p class="pagination-inactive">5</p>
          <p class="pagination-inactive">6</p>
          <p class="pagination-inactive">7</p>
        </div>
      </div>
      <a class="back-btn" href="#catalog">
        <img src="./assets/icons/arrow-left.svg" alt="" class="back-btn-img">
        <p class="back-btn-txt">Continue shopping</p>
      </a>
    </div>
  </div>
  <div class="cart-substitute" style="display: none;">
    <p class="cart-substitute__big-text">Your cart is empty</p>
    <button class="cart-substitute__button button">Start shopping now!</button>
  </div>
  <div class="cart-wrapper">
    <div class="item-header-wrapper">
      <div class="item-header__num"></div>
      <p class="item-header__product">PRODUCT</p>
      <p class="item-header__price">PRICE</p>
      <p class="item-header__qty">QTY</p>
      <p class="item-header__total">TOTAL</p>
    </div>
    <div class="cart-items-wrapper">
    </div>
    <div class="cart-pages">
      <img src="./assets/icons/btn-prev.svg" alt="" class="page-prev btn-page">
      <div class="pages-wrapper">
        <p class="cart__page page-idx">1</p>
        <p class="cart__pade page-idx--active">2</p>
      </div>
      <img src="./assets/icons/btn-next.svg" alt="" class="page-next btn-page">
    </div>
    <div class="cart-checkout-min">
      <div class="promocode">
        <h3 class="cart-checkout-min-header">Promo code</h3>
        <p class="cart-checkout-min-txt">
          Enter your promocode if you have one:
        </p>
        <input type="text" class="promocode-input">
        <button class="button btn-submit">Apply</button>
        <div class="promocode-input-wrapper">
        </div>
      </div>
      <div class="checkout-counting">
        <div class="items-qty-wrapper">
          <p class="title title-items-qty">ITEMS</p>
          <p class="amount amount-items-qty"></p>
        </div>
        <div class="total-qty-wrapper">
          <p class="title title-total-qty">TOTAL QUANTITY</p>
          <p class="amount amount-total-qty"></p>
        </div>
        <div class="title-wrapper">
          <p class="title title-subtotal">SUBTOTAL TTC</p>
          <p class="amount amount-subtotal">$1,418</p>
        </div>
        <div class="promo-wrapper">
          <div class="promo-title-wrapper">
            <p class="title title-promo">PROMO</p>
            <p class="title title-promo-amount"></p>
          </div>
          <p class="amount amount-promo"></p>
        </div>
        <div class="discount-wrapper">
          <p class="title title-discount">SALE DISCOUNT</p>
          <p class="amount amount-discount">$1,418</p>
        </div>
        <hr class="split-line">
        <div class="total-wrapper">
          <p class="title title-total">TOTAL</p>
          <p class="amount amount-total">$1,408</p>
        </div>
        <div class="checkout-button-wrapper">
          <p class="title title-checkout">Checkout</p>
          <p class="amount amount-checkout">$1,408</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="modal hidden">
  <div class="modal-left">
    <h3 class="modal-header">How would you like to get your order?</h3>
    <label for="first-name" class="modal-label label-first-name">First name</label>
    <input type="text" id="first-name" class="modal-input input-first-name" minlength="3">
    <label for="last-name" class="modal-label label-last-name">Last name</label>
    <input type="text" id="last-name" class="modal-input input-last-name" minlength="3">
    <label for="phone-num" class="modal-label label-phone-num">Phone number</label>
    <div class="modal-input-wrapper input-wrapper-phone-num">
      <input type="text" id="phone-num" class="modal-input input-phone"  pattern="\+\d{9}">
    </div>
    <label for="address" class="modal-label label-address">Billing address</label>
    <input type="text" id="address" class="modal-input input-address" pattern="^(\b[A-Za-z]{3,}\s+[A-Za-z]{3,}\s+[A-Za-z]{3,}\b)$">
    <label for="email" class="modal-label label-email">E-mail</label>
    <input type="email" id="email" class="modal-input input-email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$">
    <h3 class="modal-header">Payment details</h3>
    <label for="name" class="modal-label label-card-name">Name on card</label>
    <input type="text" id="name" class="modal-input input-card-name">
    <label for="card-num" class="modal-label label-card-num">Card number</label>
    <input type="text" id="card-num" class="modal-input input-card-num" pattern="^\d{16}$">
    <label for="cvv" class="modal-label label-cvv">CVV</label>
    <input type="text" id="cvv" class="modal-input input-cvv" maxlength="3" pattern="^\d{3}$">
    <label for="expiry" class="modal-label label-expiry">Expiry</label>
    <input type="text" id="expiry" class="modal-input input-expiry" maxlength="4" placeholder="MM/DD" pattern="^\d{4}$|^\d{2}\/\d{2}$">
    <button class="button modal-button">Complete payment — $1408</button>
  </div>
  <div class="modal-right">
    <div class="indep-logo-text-wrapper">
      <p class="indep-header">PURLE MOON</p>
      <p class="indep-subheader">ONLINE STORE</p>
    </div>
  </div>
</section>
<div class="overlay hidden">
</div>