<div class="catalog-wrapper">
  <div class="filters-wrapper">
    <p class="filter-header">Filter</p>
    <div class="accordion-container">
      <p class="filter-label">Price</p>
      <div class="filter-content active">
        <div class="price-box-container input-box-container">
          <input type="number" class="price-min input-box">
          <input type="number" class="price-max input-box">
        </div>
        <div class="price-range-wrapper range-wrapper">
          <div class="slider-track"></div>
          <input type="range" name="" id="" class="input-range range-min">
          <input type="range" name="" id="" class="input-range range-max">
        </div>
      </div>
    </div>
    <div class="accordion-container">
      <p class="filter-label label-accordion">Category</p>
      <div class="filter-content filters-scroll category-filters">
      </div>
    </div>
    <div class="accordion-container">
      <p class="filter-label label-accordion">Brand</p>
      <div class="filter-content filters-scroll brand-filters"></div>
    </div>
    <div class="accordion-container">
      <p class="filter-label label-accordion">Stock availability</p>
      <div class="filter-content content-accordion">
        <div class="stock-box-container input-box-container">
          <input type="number" class="stock-min input-box">
          <input type="number" class="stock-max input-box">
        </div>
        <div class="stock-range-wrapper range-wrapper">
          <div class="slider-track"></div>
          <input type="range" name="" id="" class="input-range range-min">
          <input type="range" name="" id="" class="input-range range-max">
        </div>
      </div>
    </div>
    <div class="accordion-container">
      <p class="filter-label label-accordion">Discount</p>
      <div class="filter-content content-accordion">
        <div class="discount-box-container input-box-container">
          <input type="number" class="discount-min input-box">
          <input type="number" class="discount-max input-box">
        </div>
        <div class="discount-range-wrapper range-wrapper">
          <div class="slider-track"></div>
          <input type="range" name="" id="" class="input-range range-min">
          <input type="range" name="" id="" class="input-range range-max">
        </div>
      </div>
    </div>
    <button class="button btn-remove-filters">Remove all filters
    </button>
    <button class="button btn-copy-filters">Copy filter url
    </button>
  </div>
  <h2 class="catalog-header">Catalog</h2>
  <div class="top-bar-wrapper">
    <div class="search-bar">
      <div class="search-bar-icon-container"><img src="./assets/icons/search-icon.svg" alt="" class="search-bar-icon">
      </div>
      <input type="text" class="search-bar-input" placeholder="Search among 50+ products">
    </div>
    <div class="sort-bar">
      <div class="sort-icon-container">
        <img src="./assets/icons/sort-icon.svg" alt="" class="sort-icon">
      </div>
      <div class="sort-dropdown">
        <div class="sort-dropdown__label">Sort</div>
        <div class="sort-dropdown-icon"></div>
      </div>
      <div class="sort-dropdown-items">
        <div class="dropdown__item" id="price-des">
          <p class="dropdown__item-name">Price</p>
          <div class="dropdown__item-arrow arrow-up"></div>
        </div>
        <div class="dropdown__item" id="price-asc">
          <p class="dropdown__item-name">Price</p>
          <div class="dropdown__item-arrow arrow-down"></div>
        </div>
        <div class="dropdown__item" id="rating-des">
          <p class="dropdown__item-name">Rating</p>
          <div class="dropdown__item-arrow arrow-up"></div>
        </div>
        <div class="dropdown__item" id="rating-asc">
          <p class="dropdown__item-name">Rating</p>
          <div class="dropdown__item-arrow arrow-down"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="results-wrapper">
    <div class="search-count-wrapper">
      <span class="search-results"></span>
      <span class="search-param"></span>
    </div>
    <div class="display-icon">
      <span class="display-icon-dot dot-left"></span><span class="display-icon-dot dot-right"></span><span
        class="display-icon-dot dot-left"></span><span class="display-icon-dot dot-right"></span>
    </div>
  </div>
  <!-- <div class="filter-tags-wrapper">
    <div class="filter-tag">
      <p class="filter-tag-name">Filter tag</p>
      <div class="close-button"></div>
    </div>
    <div class="filter-tag">
      <p class="filter-tag-name">Filter tag</p>
      <div class="close-button"></div>
    </div>
    <div class="filter-tag">
      <p class="filter-tag-name">Filter tag</p>
      <div class="close-button"></div>
    </div>
  </div> -->

  <div class="cards-wrapper">
  </div>
  <div class="catalog-pages">
    <img src="./assets/icons/btn-prev.svg" alt="" class="page-prev btn-page">
    <div class="pages-wrapper">
    </div>
    <img src="./assets/icons/btn-next.svg" alt="" class="page-next btn-page">
  </div>
</div>