<div class="catalog-wrapper">
  <div class="filters-wrapper">
    <p class="filter-header">Filter</p>
    <div class="accordion-container">
      <p class="filter-label">Price</p>
      <div class="filter-content active">
        <div class="price-box-container input-box-container">
          <input type="text" class="price-box input-box">
          <input type="text" class="price-box input-box">
        </div>
        <div class="price-range-wrapper range-wrapper">
          <div class="slider-track"></div>
          <input type="range" name="" id="" class="input-range range-one">
          <input type="range" name="" id="" class="input-range range-two">
        </div>
      </div>
    </div>
    <div class="accordion-container">
      <p class="filter-label label-accordion">Category</p>
      <div class="filter-content category-filters">
      </div>
    </div>
    <div class="accordion-container">
      <p class="filter-label label-accordion">Brand</p>
      <div class="filter-content content-accordion"></div>
    </div>
    <!-- TODO: add slider -->
    <div class="accordion-container">
      <p class="filter-label label-accordion">Stock availability</p>
      <div class="filter-content content-accordion">
        <div class="stock-box-container input-box-container">
          <input type="text" class="stock-box input-box">
          <input type="text" class="stock-box input-box">
        </div>
      </div>
    </div>
    <!-- TODO: add slider -->
    <div class="accordion-container">
      <p class="filter-label label-accordion">Discount</p>
      <div class="filter-content content-accordion">
        <div class="discount-box-container input-box-container">
          <input type="text" class="discount-box input-box">
          <input type="text" class="discount-box input-box">
        </div>
      </div>
    </div>
    <div class="accordion-container">
      <p class="filter-label label-accordion">Rating</p>
      <div class="filter-content content-accordion"></div>
    </div>
  </div>
  <h2 class="catalog-header">Catalog</h2>
  <div class="top-bar-wrapper">
    <div class="search-bar">
      <div class="search-bar-icon-container"><img src="./assets/icons/search-icon.svg" alt="" class="search-bar-icon">
      </div>
      <input type="text" class="search-bar-input" placeholder="Search among 50+ products">
    </div>
    <div class="sort-bar">
      <div class="sort-icon-container">
        <img src="./assets/icons/sort-icon.svg" alt="" class="sort-icon">
      </div>
      <div class="sort-dropdown">
        <div class="sort-dropdown__label">Sort</div>
        <div class="sort-dropdown-icon"></div>
        <div class="sort-dropdown-items">
          <p class="dropdown__item"></p>
          <p class="dropdown__item"></p>
          <p class="dropdown__item"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="results-wrapper">
    <div class="search-count-wrapper">
      <span class="search-results">1 - 16 over 100 results for </span>
      <span class="search-param">"Apple"</span>
    </div>
    <div class="display-icon">
      <span class="display-icon-dot dot-left"></span><span class="display-icon-dot dot-right"></span><span
        class="display-icon-dot dot-left"></span><span class="display-icon-dot dot-right"></span>
    </div>
  </div>
  <div class="filter-tags-wrapper">
    <div class="filter-tag">
      <p class="filter-tag-name">Filter tag</p>
      <div class="close-button"></div>
    </div>
    <div class="filter-tag">
      <p class="filter-tag-name">Filter tag</p>
      <div class="close-button"></div>
    </div>
    <div class="filter-tag">
      <p class="filter-tag-name">Filter tag</p>
      <div class="close-button"></div>
    </div>
  </div>

  <div class="cards-wrapper">
  </div>
</div>