<div class="breadcrumbs-wrapper">
  <div class="breadcrumbs">
    <div class="crumb">Link 1</div>
    <div class="crumb-split"></div>
    <div class="crumb">Link 2</div>
    <div class="crumb-split"></div>
    <div class="crumb final"> Link 3</div>
  </div>
</div>
<div class="product-wrapper">
  <div class="product-img-wrapper">
  <div class="product-img">
    <div class="sale">12% off</div>
  </div>
  <div class="product-thumb thumb--active">
  </div>
  <div class="product-thumb">
  </div>
  <div class="product-thumb">
  </div>
  <div class="product-thumb">
  </div>
  </div>
  <div class="product-row-one">
    <p class="product-brand">Apple</p>
    <div class="product-category">Smartphones</div>
  </div>
  <h2 class="product-title">Product title</h2>
  <div class="rating-wrapper">
    <div class="rating-star-wrapper">
      <div class="rating-star checked"></div>
      <div class="rating-star checked"></div>
      <div class="rating-star checked"></div>
      <div class="rating-star checked"></div>
      <div class="rating-star"></div>
    </div>
    <div class="rating-txt">4.20</div>
  </div>
  <p class="product-description">An apple mobile which is nothing like apple</p>
  <div class="product-row-two">
    <button class="button button-add">Add to cart</button>
    <button class="button button-buy-now">Buy now</button>
    <div class="product-stock">
      <img src="" alt="" class="ckeckmark">
      <p class="product-stock-txt">IN STOCK AVAILABLE</p>
      <p class="product-stock-q">94</p>
    </div>
  </div>
  <div class="to-cart">
    <p class="to-cart-txt">GO TO CART</p>
    <div class="crumb-split"></div>
  </div>
  <div class="to-catalog">
    <div class="to-catalog-txt-wrapper">
      <p class="to-catalog-txt">Browse</p>
      <a href="" class="to-catalog__link">Catalog</a>
    </div>
    <div class="crumb-split"></div>
  </div>
</div>