/* Empty cart cubstitute */

.cart-substitute {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.cart-substitute__big-text {
  color: #444343;
  font-weight: 600;
  font-size: 5em;
  margin: 5em 0 0.8em;
}

.cart-substitute__button {
  width: fit-content;

  font-size: 2.2em;
  font-weight: 500;
  color: #fefdfe;

  background-color: #aa6dff;
  border-radius: 0.8em;
  padding: 0.6em;

  transition: background-color .3s ease-in-out;
}

.cart-substitute__button:hover {
  background-color: #8e2de2;
}

/* MAIN CART STYLES */

.cart-wrapper,
.cart-header-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.cart-header {
  padding: 4em 0 1em;
  background-color: #eeeff0;
}

.cart-header-wrapper,
.back-btn,
.cart-pages,
.pages-wrapper {
  display: flex;
  align-items: center;
}

.cart-header-wrapper { 
  justify-content: space-between;
  padding: 2em;
}

.back-btn {
  gap: 2em;

  padding: 1em;
  border: 0.1em solid #cbcbcb;
  border-radius: 1em;

  cursor: pointer;
}

.back-btn-img {
  width: 2em;
}

.back-btn-txt {
  font-size: 2em;
  font-weight: 600;
}

.cart-header-main {
  font-size: 5em;
  color: #3b3b3b;
  font-weight: 600;
}



.item-header-wrapper,
.cart__item {
  display: grid;
}

.item-header-wrapper {
  font-size: 2em;
  font-weight: 500;
  color: #656565;

  padding: 2em 1em 1em;
  grid-template-columns: 0.2fr 5fr repeat(3, 1.4fr) 0.5fr;
  justify-items: center;
}

/* Cart Item */

.cart__item {
  font-family: 'Roboto', sans-serif;
  
  grid-template-columns: 0.2fr 1fr 4fr repeat(3, 1.4fr) 0.5fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;

  padding: 2em 2em;
  align-items: center;
}

.cart__item-num {
  font-size: 2em;
  font-weight: 600;
}

.cart__item-img {
  width: 10em;
}

.cart__item-num,
.cart__item-img,
.cart__item-price,
.cart__item-qty,
.cart__item-total,
.cart__item-del {
  grid-row: 1/3;
}

.cart__item-name,
.cart__item-details {
  justify-self: start;
}

.cart__item-name {
  grid-row: 1/2;
  font-size: 2em;
  font-weight: 600;
}

.cart__item-details {
  grid-row: 2/3;

  font-size: 1.5em;
  color: #656565;
}

.cart__item-price,
.cart__item-total {
  font-family: 'Landasans', 'Roboto', sans-serif;
  letter-spacing: 6px;
  font-size: 3em;
  font-weight: 600;
}

.cart__item-qty {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.cart__item-qty .btn-minus,
.cart__item-qty .btn-plus {
  font-family: 'Lato', 'Roboto', sans-serif;
  background-color: transparent;
  font-weight: 300;
  font-size: 3em;

  transition: all 0.1s ease-in-out;
}

.cart__item-qty .amount {
  padding: 0.2em 0;
  text-align: center;
  border: none;
  background-color: #f9f8fb;
  font-size: 2em;
  width: 1.5em;
}

.cart__item-qty .amount:focus {
  outline: none;
  border: 2px solid #8e2de2;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em #719ECE;
}

.cart__item-del {
  cursor: pointer;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

.cart__item-qty .btn-minus:hover,
.cart__item-qty .btn-plus:hover,
.cart__item-del:hover {
  color: #8e2de2;
  text-shadow: 0 0 0.1em #8e2de2;
}

.split-line {
  border: none;
  height: 0.2em;
  width: 100%;
  border-radius: 0.1em;
  background: radial-gradient(circle, rgba(68,67,67,1) 41%, rgba(101,101,101,1) 69%, rgba(163,163,164,1) 86%, rgba(238,239,240,1) 100%);
}

.cart-pages {
  justify-content: center;
  font-size: 2.5em;
  padding: 1em 0;
}

.cart-pages,
.pages-wrapper {
  gap: 1em;
}

.cart__page {
  cursor: pointer;
}

.btn-page {
  cursor: pointer;
  width: 1.5em;
}

.page-idx--active {
  font-weight: 600;
  color: #fef8ff;

  background-color: #aa6dff;
  border-radius: 0.5em;
  padding: 0.5em;
}

.cart-checkout-min {
  display: grid;
  grid-template-columns: 2fr 1fr;

  background-color: #eeeff0;
  border-radius: 2em;
  padding: 3em;
}

.cart-checkout-min-header {
  font-size: 3.5em;
  color: #3b3b3b;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.cart-checkout-min-txt {
  color: #656565;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.promocode .promocode-input {
  font-size: 2.5em;

  height: 2em;
  width: 15em;

  background-color: #f9f8fb;
  border: 0.1em solid #cbcbcb;
  border-radius: 0.5em;

  padding: 0.5em;
  margin-right: 1em;
}

.promocode .promocode-input:focus {
  outline: none;
}

.promocode .btn-submit {
  font-size: 2em;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

.promocode .btn-submit:hover {
  color: #fb3b45;
}

.checkout-counting {
  display: grid;
  grid-template-rows: 1fr 1fr auto 1fr 1.5fr;
  row-gap: 1.5em;
}

.checkout-counting > *,
.promo-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-counting > * {
  padding: 0 2em; 
}

.checkout-counting .split-line {
  background: #cbcbcb;
}

.checkout-counting .title {
  font-size: 2em;
  color: #656565;
  font-weight: 600;
}

.promo-title-wrapper {
  gap: 1em;
}

.checkout-counting .amount {
  font-family: 'Landasans', 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #3b3b3b;
  letter-spacing: 5px;
}

.checkout-button-wrapper {
  border-radius: 1em;
  background-color: #fb3b45;
  padding: 1em 2em;

  cursor: pointer;
}

.checkout-counting .title-checkout,
.checkout-counting .amount-checkout  {
  color: #fef8ff;
  padding: 0;
}

.checkout-counting .title-checkout {
  font-size: 2.2em;
  font-weight: 600;
  letter-spacing: 2px;
}

.checkout-counting .amount-checkout {
  font-weight: 500;
}

/* Modal */

.modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  z-index: 2;

  margin: 1em 10em;
  background-color: #fefffe;
  border-radius: 5em;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.modal-right {
  height: 2000px;
  border-radius: 5em;
  margin: 2em;
  margin-left: 0;
  
  background: url('../assets/images/modal-promo-2.jpg') no-repeat;
  background-size: cover;
  background-position: 40% center;
}

.modal-left {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  /* grid-auto-rows: min-content; */
  row-gap: 1em;
  column-gap: 2em;
  grid-template-rows: repeat(15, auto);

  padding: 8em;
}

.modal-header {
  font-size: 3em;
  font-weight: 600;
  grid-column: 1/5;
  margin: 1em 0;
}

.modal-label {
  font-size: 2.5em;
  font-weight: 600;
  color: #081123;
  margin-left: -0.2em;
}

.modal-input {
  font-size: 3em;
  border: 0.1em solid #cbcbcb;
  border-radius: 0.5em;
  padding: 0.2em .5em;
  margin-bottom: 1em;
}

.modal-input:focus {
  outline: 10px solid #181818;
  box-shadow: 0 0 1em #719ECE;
}

.label-first-name,
.label-last-name {
  grid-row: 2/3;
}

.input-first-name,
.input-last-name {
  grid-row: 3/4;
}

.label-last-name,
.input-last-name {
  grid-column: 2/5;
}

.label-phone-num,
.input-wrapper-phone-num,
.label-address,
.input-address,
.label-email,
.input-email,
.label-name,
.input-name,
.modal-button {
  grid-column: 1/5;
}

.label-card-num,
.label-cvv,
.label-expiry {
  grid-row: 13/14;
}

.input-card-num,
.input-cvv,
.input-expiry {
  grid-row: 14/15;
}

.label-card-num,
.input-card-num {
  grid-column: 1/3;
}

.input-expiry,
.input-cvv {
  max-width: 5em;
}

.modal-button {
  font-size: 3em;
  font-weight: 600;
  color: #eeeff0;
  background-color: #081123;
  padding: 1em 2em;
  border-radius: 1em;
}
.indep-logo-text-wrapper {
  margin-top: 5em;
}

.indep-header {
  margin-bottom: 0.3em;
}